body {
    background-color: ghostwhite;
    margin: 0;
    height: 100%;
}
html {
    font-size: 16px;
    font-family: "Open Sans";
}
main {
    margin: auto;

    flex-direction: column;
    align-items: center;
    flex: 1;
}

.menu {
    /* display: flex;
    justify-content: space-between;
    align-items: center;
     padding: 0 3rem;  */

    max-width: 960px;
    mask-image: linear-gradient(
        90deg,
        rgba(255, 255, 255, 0) 0%,
        #ffffff 25%,
        #ffffff 75%,
        rgba(255, 255, 255, 0) 100%
    );
    margin: 0 auto;
    padding: 60px 0;
}
.menu ul {
    text-align: center;
    background: linear-gradient(
        90deg,
        rgba(255, 255, 255, 0) 0%,
        rgba(255, 255, 255, 0.2) 25%,
        rgba(255, 255, 255, 0.2) 75%,
        rgba(255, 255, 255, 0) 100%
    );
    box-shadow: 0 0 25px rgba(0, 0, 0, 0.1),
        inset 0 0 1px rgba(255, 255, 255, 0.6);
}
.menu ul li {
    display: inline-block;
}
.menu ul li a {
    padding: 18px;
    font-family: "Open Sans";
    text-transform: uppercase;
    color: rgba(0, 35, 122, 0.5);
    font-size: 18px;
    text-decoration: none;
    display: block;
}
.menu ul li a:hover {
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1),
        inset 0 0 1px rgba(255, 255, 255, 0.6);
    background: rgba(255, 255, 255, 0.1);
    color: rgba(0, 35, 122, 0.7);
}

.find-recipes {
    position: relative;

    margin-top: -16px;
    border-top-left-radius: 16px;
    border-top-right-radius: 16px;
}

.search-field {
    display: flex;
    flex-direction: column;

    align-items: center;
}

.recipe-list {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-auto-flow: row dense;
    grid-gap: 4px;
    /* display: flex;
    flex-direction: column;
    align-items: center;
    justify-items: center; */

    margin-top: 5px;
    padding-top: 5px;
    list-style: none;

    /* background-image: url("lukas-blazek-f-TWhXOrLiU-unsplash.jpg"); */
    background: url(lukas-blazek-f-TWhXOrLiU-unsplash.jpg) no-repeat center
        center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    min-height: 100vh;
}
.list-item {
    display: flex;
    /* justify-self: center; */
    overflow: hidden;

    margin-bottom: 16px;
    border-radius: 4px;
    /*  box-shadow: 0 4px 7px 0 rgba(230, 224, 224, 0.779); */
    height: 120px;
}

.main-image {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.recipe-organize {
    display: flex;
    flex-direction: column;

    align-items: center;
}

.app-logo {
    width: 15rem;
}
.main-title {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.second-title {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.third-title {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.item-text {
    overflow: hidden;
    width: 100%;
    padding: 15px;
}

.recipe-details {
    background: url(lukas-blazek-f-TWhXOrLiU-unsplash.jpg) no-repeat center
        center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    min-height: 100vh;
}

.customHeart:hover {
    fill: #c9c7c7 !important;
    transition: fill 0.1s;
}
.customHeart:active {
    fill: #a5a5a5 !important;
    transition: fill 0.1s;
}
.active.customHeart:hover {
    fill: rgb(205, 3, 3) !important;
    transition: fill 0.1s;
}
.active.customHeart:active {
    fill: rgb(155, 6, 6) !important;
    transition: fill 0.1s;
}
