body {
    background-color: ghostwhite;
    margin: 0;
    height: 100%;
}
html {
    font-size: 16px;
    font-family: Arial, Helvetica, sans-serif;
}
main {
    margin: auto;

    flex-direction: column;
    align-items: center;
    flex: 1;
}

.find-recipes {
    position: relative;
    z-index: 2;
    margin-top: -16px;
    border-top-left-radius: 16px;
    border-top-right-radius: 16px;
}

.search-field {
    display: flex;
    flex-direction: column;

    align-items: center;
}

.recipe-list {
    display: grid;
    grid-template-columns: 1fr 1fr;

    list-style: none;

    /* background-image: url("lukas-blazek-f-TWhXOrLiU-unsplash.jpg"); */
    background: url(lukas-blazek-f-TWhXOrLiU-unsplash.jpg) no-repeat center
        center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    min-height: 100vh;
}
.list-item {
    display: flex;
    overflow: hidden;

    margin-bottom: 16px;
    border-radius: 4px;
    /*  box-shadow: 0 4px 7px 0 rgba(230, 224, 224, 0.779); */
    height: 120px;
}

.main-image {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.recipe-organize {
    display: flex;
    flex-direction: column;

    align-items: center;
}

.app-logo {
    width: 15rem;
}
.main-title {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.second-title {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.third-title {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.item-text {
    overflow: hidden;
    width: 100%;
    padding: 15px;
}

.recipe-details {
    background: url(lukas-blazek-f-TWhXOrLiU-unsplash.jpg) no-repeat center
        center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    min-height: 100vh;
}

.customHeart:hover {
    fill: #c9c7c7 !important;
    transition: fill 0.1s;
}
.customHeart:active {
    fill: #a5a5a5 !important;
    transition: fill 0.1s;
}
.active.customHeart:hover {
    fill: rgb(205, 3, 3) !important;
    transition: fill 0.1s;
}
.active.customHeart:active {
    fill: rgb(155, 6, 6) !important;
    transition: fill 0.1s;
}
